@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-Regular.ttf);
}
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-Regular.eot);
}
/*-----------------------------------------------*/
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-Bold.eot);
    font-weight: bold;
}
/*-----------------------------------------------*/
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-Italic.ttf);
    font-weight: bold;
}
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-Italic.eot);
    font-weight: bold;
}
/*-----------------------------------------------*/
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-ItalicBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: LiberationSans;
    src: url(/fonts/LiberationSans-ItalicBold.eot);
    font-weight: bold;
}

html, body, .tweets-container {
    font-family: 'LiberationSans';
    height: 100%;
    cursor: none;
    z-index:-999;
}

body {
    padding-top: 2.5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,60,125,1)), to(rgba(110,139,191,0.6)));
    background: -webkit-linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background: -moz-linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background: -o-linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background: linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background-attachment:fixed;
}

.well {
    color: white;
    border: 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(244,127,36,1)), to(rgba(239,138,28,0.6)));
    background: -webkit-linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
    background: -moz-linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
    background: -o-linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
    background: linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
}
.navbar{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.6)));
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    border-bottom: 0px;
}

.tweets-container {
    overflow:hidden;
    position:relative;
    height:100%;
}

.twitter-article {
    position:absolute;
    top: 0px;
    width:90%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.twitter-article.img {
    max-width: 100%;
}

.user-image {
    border-radius: 5px;
}
.tweet-image{
    height:300px;
}
.lt-sidebar{
    display : table;
}

/* Mobile styles */
@media (max-width: 481px) {
    .twitter-article {
        position:absolute;
        top: 0px;
        width:90%;
        padding-top: 1px;
    padding-bottom: 1px;
    }
    
    .media-body h1, .media-body h2, .media-body h3, .media-body h4, .media-body h5 {
        font-size: 1em;
    }
    .lt-sidebar h1, .lt-sidebar h2, .lt-sidebar h3, .lt-sidebar h4, .lt-sidebar h5 {
        font-size: 1.1em;

    }
}
