@import url("//hello.myfonts.net/count/2cfa0f");

@font-face {
    font-family: 'MuseoSlab-700';
    src: url('/case.axd/file/Theme/webfonts/MyFontsWebfontsKit/webfonts/museo-slab-3559c71da24b1df40fe4842bf888a1dc69d49d39.eot');
    src: url('/case.axd/file/Theme/webfonts/MyFontsWebfontsKit/webfonts/museo-slab-3559c71da24b1df40fe4842bf888a1dc69d49d39.eot?#iefix') format('embedded-opentype'),url('/case.axd/file/Theme/webfonts/MyFontsWebfontsKit/webfonts/museo-slab-b17925f1177956e505705c0485a0e2c7b69d6a55.woff2') format('woff2'),url('/case.axd/file/Theme/webfonts/MyFontsWebfontsKit/webfonts/museo-slab-743168a6b03a672c3d71008003dd64649d09f365.woff') format('woff'),url('/case.axd/file/Theme/webfonts/MyFontsWebfontsKit/webfonts/museo-slab-c6203c76b555ebe9e15aaac4c7d4d2e44043690d.ttf') format('truetype');
}

html, body, .tweets-container {
    font-family: 'MuseoSlab-700';
    height: 100%;
    cursor: none;
    z-index:-999;
}

body {
    padding-top: 2.5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,60,125,1)), to(rgba(110,139,191,0.6)));
    background: -webkit-linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background: -moz-linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background: -o-linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background: linear-gradient(rgba(0,60,125,1), rgba(110,139,191,0.6));
    background-attachment:fixed;
}

.well {
    color: white;
    border: 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(244,127,36,1)), to(rgba(239,138,28,0.6)));
    background: -webkit-linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
    background: -moz-linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
    background: -o-linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
    background: linear-gradient(rgba(244,127,36,1), rgba(239,138,28,0.6));
}
.navbar{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.6)));
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6));
    border-bottom: 0px;
}

.tweets-container {
    overflow:hidden;
    position:relative;
    height:100%;
}

.twitter-article {
    position:absolute;
    top: 0px;
    width:90%;
}
.twitter-article.img {
    max-width: 100%;
}

.user-image {
    border-radius: 5px;
}
.tweet-image{
    height:300px;
}
.lt-sidebar{
    display : table;
}
.footer-logo {
    display : table-row;
    vertical-align : bottom;
    height : 75px;
}


.logo-coe, .logo-coe a, .logo-coe a:link, .logo-coe a:visited, .logo-coe a:hover, .logo-coe a:active {
    color: #ff7d43 !important;
    display: inline;
    font-family: "Avenir-Bold",Tahoma,sans-serif;
    font-size: 24px !important;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 74px !important;
    text-transform: uppercase;
    vertical-align: bottom;
}
.logo-uiuc {
    color: #0076c0;
    font-family: "Avenir",Tahoma,sans-serif;
    font-size: 24px !important;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 74px !important;
    text-transform: uppercase;
    vertical-align: bottom;
}

/* Mobile styles */
@media (max-width: 481px) {
    .twitter-article {
        position:absolute;
        top: 0px;
        width:90%;
    }
    
    .media-body h1, .media-body h2, .media-body h3, .media-body h4, .media-body h5 {
        font-size: 1em;
    }
    .lt-sidebar h1, .lt-sidebar h2, .lt-sidebar h3, .lt-sidebar h4, .lt-sidebar h5 {
        font-size: 1.1em;

    }
}
